.banner_carousel{
    width: 100%; 
    height: auto;
    max-height: 800px;
  }
  
.logo_nav[_ngcontent-wbx-c17] {
	width: 220px;
	height: 100%;
}

.cl-effect-5[_ngcontent-wbx-c17]   a[_ngcontent-wbx-c17] {
	overflow: hidden;
	padding: 0 4px;
	height: 28px;
}

.cl-effect-5[_ngcontent-wbx-c17]   a[_ngcontent-wbx-c17]   span[_ngcontent-wbx-c17] {
	position: relative;
	display: inline-block;
	transition: transform 0.3s;
}

.cl-effect-5[_ngcontent-wbx-c17]   a[_ngcontent-wbx-c17]   span[_ngcontent-wbx-c17]::before {
	position: absolute;
	top: 100%;
	content: attr(data-hover);
	font-weight: 700;
	transform: translate3d(0,0,0);
}

.cl-effect-5[_ngcontent-wbx-c17]   a[_ngcontent-wbx-c17]:hover   span[_ngcontent-wbx-c17], .cl-effect-5[_ngcontent-wbx-c17]   a[_ngcontent-wbx-c17]:focus   span[_ngcontent-wbx-c17] {
	transform: translateY(-100%);
}
.logo_login[_ngcontent-wbx-c16]{
    width: 100%;
	height: auto;
}

.carouselText{
	text-shadow: #000 2px 4px 2px;	
}

