<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title>Unclean System</title>
  </head>

  <body class="text-center principal">
    <form class="form-signin">
      <h1 class="h1 mb-3 titulo">UNCLEAN</h1>
      <input type="email" id="inputEmail"  class="form-control pr-5" placeholder="Usuário" required autofocus>
      <input type="password" id="inputPassword" class="form-control mb-3" placeholder="Senha" required>
      <button class="btn btn-lg btn-primary btn-block btnAcessar" type="submit"><img src="../../assets/img/loginIcon.png" class="rounded-circle rounded-0" width="45" height="auto"></button>
      <h1 class="h1 mt-3 titulo">System</h1>
    </form>
  </body>
</html>
