<nav *ngIf="validarUrl()" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand border-right rounded-right pr-3" href="#">Unclean System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Financeiro <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Agenda</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- <footer *ngIf="validarUrl()" class="">
  <div class="d-flex align-items-center">
    <p class=" text-muted">&copy; By Ronis - 2021 </p>
  </div>
  
</footer> -->

<footer class=" foot fixed-bottom mt-4">
  <div class="row d-flex justify-content-center foot">
    <span class="mt-4 mb-2">&copy; By Ronis - 2021 </span>
  </div>
</footer>


